<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [29]:
data = pd.read_csv(PATH)

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [30]:
male_participants = data.query("Games == '1996 Summer' & Sex == 'M' ")

female_participants = data.query("Games == '1996 Summer' & Sex == 'F' ")

print(male_participants["Age"].min())

print(female_participants["Age"].min())

14.0
12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [95]:
# You comale_participants = data.query("Games == '2000 Summer' & Sex == 'M'").ID.unique()

male_gymnastics = data.query("Year == 2000 & Sex == 'M' & Sport == 'Gymnastics'").drop_duplicates(['ID'], keep='last')

all_guys_2000 = data.query("Year == 2000 & Sex == 'M'").drop_duplicates(['ID'], keep='last')

round((len(male_gymnastics)/ len(all_guys_2000))*100,1)

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [96]:
female_basketball = data.query("Games == '2000 Summer' & Sex == 'F' & Sport == 'Basketball'")
print(round(female_basketball.Height.mean(),1))
print(round(female_basketball.Height.std(),1))

182.4
9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [53]:
oly_2002 =  data.query("Year == 2002")
oly_2002.sort_values(by="Weight", ascending=False).iloc[0].Sport

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [90]:
years = data.query("Name == 'Pawe Abratkiewicz'").drop_duplicates(['Year'],keep='last')
years.Year.count()

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [89]:
data.query("Team == 'Australia' & Year == 2000 & Sport == 'Tennis' & Medal == 'Silver'").Medal.count()

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [88]:
print("-----------Switzerland-----------")
print(data.query("Year == 2016 &  Team == 'Switzerland'").drop_duplicates(['ID'], keep='last').Medal.count())
print("-----------Serbia----------------")
print(data.query("Year == 2016 &  Team == 'Serbia'").drop_duplicates(['ID'], keep='last').Medal.count())

-----------Switzerland-----------
10
-----------Serbia----------------
52

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [112]:
oly_2014 = data.query("Year == 2014")

ranges = [15,25,35,45,55]

oly_2014.groupby(pd.cut(oly_2014.Age,ranges)).count()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Age,,,,,,,,,,,,,,,
"(15, 25]",2412,2412,2412,2412,2396,2254,2412,2412,2412,2412,2412,2412,2412,2412,250
"(25, 35]",2281,2281,2281,2281,2277,2227,2281,2281,2281,2281,2281,2281,2281,2281,316
"(35, 45]",184,184,184,184,184,181,184,184,184,184,184,184,184,184,28
"(45, 55]",4,4,4,4,4,3,4,4,4,4,4,4,4,4,0

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [102]:
print(data.query("City == 'Lake Placid' & Season == 'Summer'").empty)
print(data.query("City == 'Sankt Moritz' & Season == 'Winter'").empty)

# No , Yes

True
False

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [97]:
data.query("Year == 2016").drop_duplicates(['Sport'], keep='last').Sport.count()

34

In [108]:
data.query("Year == 1995").empty

True